node_modules
dist
.env
auth_cache.json
launcher-config.json
OmbiCraft-Launcher-Setup.exe
token.txt
logs/
*.log
debug_log.txt
launch_cmd.txt
launch_args.json
versions/
release-builds/
tests/temp_test_env/
.vscode/
.idea/
*.swp
.DS_Store